.add-option{
    display: flex;
    padding: $s-size;
}
.add-option-input{
    flex-grow: 1;
    border : none;
    background: $dark-blue;
    border-bottom : .6rem solid darken($dark-blue, 10%);
    margin : 0 $xs-size 0 0 ;
    border-radius: $xs-size;
    color: $light-purple;
    padding: $xs-size;
}

@media (max-width : $mobile-breakpoint){
    .add-option{
        display: flex;
        flex-direction: column;
    }
    .add-option-input{
        margin : 0 0 $xs-size 0 ;
    }
}