.big-button{
    border : none;
    border-bottom : .6rem solid darken($purple, 10%);
    color: white;
    background: $purple;
    padding: 2.4rem;
    font-size: $l-size;
    font-weight: bold;
    width: 100%;
    margin-bottom: $m-size;
}
.big-button:disabled{
    opacity: .5;
}

.button { 
    border : none;
    border-bottom : .3rem solid darken($purple, 10%);
    color: white;
    background: $purple;
    padding: $s-size;
    font-size: $s-size;
    font-weight: 500;
    border-radius: $xs-size
}
// BEM naming convention uses '--'
//The below is the depiction of the 'link' version of the button which will modify the .button
.button--link{
    background: none;
    border : none;
    margin: 0;  
    color: $light-purple;
    padding : 0;
}

//Media query 
@media (max-width : $mobile-breakpoint) {
    .big-button{
        margin-bottom : $s-size;
    }
}